.level {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 300px;
    height: 100vh;
    right: 0;
    top: 0;
    // bottom: 0;
    z-index: 3;

    padding: 10px;

    font-size: 1.5em;
    letter-spacing: 0.03em;

    background-color:#78a5a3;
    color: #e1b16a;
    @media screen and (max-width: 900px) {
        // position: static;
        // width: 100vw;
        // height: fit-content;
        // font-size: 1em;
        // padding: 10px 20px;
        right: -300px;
    }

    &.opened {
        right:0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        color: #e1b16a;

        // @media screen and (max-width: 900px) {
        //     height: 280px;
        //     width: 500px;
        //     margin: 0 auto;
        //     flex-wrap: wrap;
        // }

        .list__item {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-weight: 400;
            // @media screen and (max-width: 900px) {
            //     width: 50%;
            //     &:nth-of-type(6) {
            //         margin-top: 25px;
            //     }
            // }

            &:first-child {
                margin-top: 10px;
            }
            &:hover {
                cursor: pointer;
            }
            &:hover  .text {
                font-weight: bold;
            }
            &.done{
                color: #444c5c;
            }
            &.done .checkmark,
            &.done {
                visibility: visible;
            }
            .checkmark {
                visibility: hidden;
                background-image: url('../../../assets/icons/checkmark.png');
                background-position: left center;
                background-repeat: no-repeat;
                background-size: contain;
                padding-left: 35px;
                font-size: 0.8em;
            }
            .help {
                font-size: 0.8em;
                visibility: hidden;
            }

            &.hint .help {
                visibility: visible;
            }
            
        }
        
    }

    &__hint {
        // height: calc(100% - 700px);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        // @media screen and (max-width: 900px) {
        //     width: 500px;
        //     margin: 0 auto;
        //     justify-content: flex-start;
        //     gap: 150px;
        // }

    }
    .active.active {
        color: #ce5a57;
    }
}