.winners {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  
  &__table {
    width: 500px;
    border-collapse: collapse;

    th {
      height: 40px;
      background-color: $color-light;
      color: $color-dark;
      font-size: 1.2em;
      letter-spacing: 0.06em;
      border: 1px solid $color-dark;
    }

    td {
      height: 40px;
      text-align: center;
    }
  }
}