.tumble {
  width: 350px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.sound,
.theme {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__img {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    &:hover {
      cursor: pointer;
    }
  }
}

.sound {
  &__img {
    &_on {
      background-image: url('../assets/icons/sound-on.png');
    }
    &_off {
      background-image: url('../assets/icons/sound-off.png');
    }
  }
}

.theme {
   &__img {
    height: 28px ;
    background-size: 90%;
    background-color: white;
    border-radius: 12px;

    &_light {
      background-image: url('../assets/icons/light-mode.png');
    }
    &_dark {
      background-image: url('../assets/icons/dark-mode.png');
    }
  }
}
