.menu {
  position: fixed;
  top: 0;
  width: 320px;
  height: 100vh;
  right: -320px;
  background-color: $color-dark-3xl;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  z-index: 2;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  &__item {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: $color-dark-s;

    &:hover {
      color: $color-white;
      transition: 0.3s;
    }

    &:active {
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: $color-beige;  
      }
      
    }

    &_active {
        &:after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: $color-beige;  
      }
      color: white;
      a:hover {
        cursor:default;
       }
    }
  }

  &_open {
    right: 0;
    // transition: 0.4s;
  }
}

.no-scroll {
overflow-y: hidden;
}
