$color-beige: #F1CDB3;
$color-white:#FFFFFF;
$color-dark-s: #CDCDCD;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;


%cont {
  width: 1200px;
  margin: 0 auto;
}

 %paddings {
  padding-top: 80px;
  padding-bottom: 100px;
 }

 %heading {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
 }
 %h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

@mixin font-h2 ($color) {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color;
}

@mixin text ($color) {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: $color;
}

@mixin button ($width) {
  width: $width;
  height: 52px;
  border-radius: 100px;
  background-color: $color-beige;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
 }

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
