* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  transition: all 0.3s;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  border: none;
}

@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/arial/arial-regular.ttf") format("truetype");
  src: url("../assets/fonts/arial/ArialMT.woff2") format("woff2");
  src: url("../assets/fonts/arial/ArialMT.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/arial/arial-bold-italic.ttf") format("truetype");
  src: url("../assets/fonts/arial/Arial-BoldItalicMT.woff2") format("woff2");
  src: url("../assets/fonts/arial/Arial-BoldItalicMT.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/arial/arial-bold.ttf") format("truetype");
  src: url("../assets/fonts/arial/Arial-BoldMT.woff2") format("woff2");
  src: url("../assets/fonts/arial/Arial-BoldMT.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/arial/arial-italic.ttf") format("truetype");
  src: url("../assets/fonts/arial/Arial-ItalicMT.woff2") format("woff2");
  src: url("../assets/fonts/arial/Arial-ItalicMT.woff") format("woff");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-regular.ttf") format("truetype");
  src: url("../assets/fonts/georgia/Georgia.woff2") format("woff2");
  src: url("../assets/fonts/georgia/Georgia.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-bold.ttf") format("truetype");
  src: url("../assets/fonts/georgia/Georgia-Bold.woff2") format("woff2");
  src: url("../assets/fonts/georgia/Georgia-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-italic.ttf") format("truetype");
  src: url("../assets/fonts/georgia/Georgia-Italic.woff2") format("woff2");
  src: url("../assets/fonts/georgia/Georgia-Italic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-bold-italic.ttf") format("truetype");
  src: url("../assets/fonts/georgia/Georgia-BoldItalic.woff2") format("woff2");
  src: url("../assets/fonts/georgia/Georgia-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}
.donat__inner, .help__inner, .pets__inner, .about__inner, .start__inner, .footer__inner, .header__inner {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
@media screen and (max-width: 1100px) {
  .donat__inner, .help__inner, .pets__inner, .about__inner, .start__inner, .footer__inner, .header__inner {
    padding: 0 30px;
  }
}
@media screen and (max-width: 720px) {
  .donat__inner, .help__inner, .pets__inner, .about__inner, .start__inner, .footer__inner, .header__inner {
    padding: 0 10px;
  }
}

.gallery, .donat, .help, .pets, .about {
  padding-top: 80px;
  padding-bottom: 100px;
}
@media screen and (max-width: 720px) {
  .gallery, .donat, .help, .pets, .about {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.start__heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}
@media screen and (max-width: 720px) {
  .start__heading {
    font-size: 25px;
    letter-spacing: 0.06em;
  }
}

.card__heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.gallery__btn, .gallery__btn-cont, .donat__credit, .help__text, .footer .contacts {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 720px) {
  .gallery__btn, .gallery__btn-cont, .donat__credit, .help__text, .footer .contacts {
    font-size: 15px;
    line-height: 110%;
  }
}

.donat__inner, .help__inner, .pets__inner, .about__inner, .start__inner, .footer__inner, .header__inner {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
@media screen and (max-width: 1100px) {
  .donat__inner, .help__inner, .pets__inner, .about__inner, .start__inner, .footer__inner, .header__inner {
    padding: 0 30px;
  }
}
@media screen and (max-width: 720px) {
  .donat__inner, .help__inner, .pets__inner, .about__inner, .start__inner, .footer__inner, .header__inner {
    padding: 0 10px;
  }
}

.gallery, .donat, .help, .pets, .about {
  padding-top: 80px;
  padding-bottom: 100px;
}
@media screen and (max-width: 720px) {
  .gallery, .donat, .help, .pets, .about {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.start__heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}
@media screen and (max-width: 720px) {
  .start__heading {
    font-size: 25px;
    letter-spacing: 0.06em;
  }
}

.card__heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.gallery__btn, .gallery__btn-cont, .donat__credit, .help__text, .footer .contacts {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 720px) {
  .gallery__btn, .gallery__btn-cont, .donat__credit, .help__text, .footer .contacts {
    font-size: 15px;
    line-height: 110%;
  }
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header__inner {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 720px) {
  .header__inner {
    padding: 0 20px;
  }
}

.logo {
  height: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.logo__heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.logo__heading:hover {
  color: #FDDCC4;
  transform: scale(1.1);
  transition: 0.5s;
}
.logo__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #FFFFFF;
  font-size: 13px;
  text-align: right;
  letter-spacing: 0.1em;
}

.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
}
@media screen and (max-width: 767px) {
  .nav ul {
    display: none;
  }
}
.nav .burger {
  display: none;
  width: 30px;
  height: 22px;
  flex-direction: column;
  gap: 8px;
}
.nav .burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
}
.nav .burger__line_dark {
  background-color: black;
}
@media screen and (max-width: 767px) {
  .nav .burger {
    display: flex;
  }
}
.nav__item {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}
.nav__item:hover {
  color: #FAFAFA;
  transition: 0.5s;
}
.nav__item:active:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}
.nav__item_active {
  color: #FAFAFA;
}
.nav__item_active:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}
.nav__item_active a:hover {
  cursor: default;
}

.pet {
  color: #545454;
}
.pet:hover {
  color: #292929;
  transition: 0.5s;
}
.pet.nav__item_active:hover {
  color: #545454;
}

.footer {
  background: url(../assets/background/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 40px;
}
@media screen and (max-width: 1100px) {
  .footer {
    padding-top: 15px;
  }
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  gap: 65px 10px;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 1100px) and (min-width: 720px) {
  .footer__inner {
    width: 90%;
  }
}
@media screen and (max-width: 720px) {
  .footer__inner {
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
}
@media screen and (max-width: 1100px) {
  .footer__img {
    width: 100%;
    height: 310px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 720px) {
  .footer__img {
    margin-top: 15px;
    height: 269px;
  }
}
.footer__block {
  max-height: 234px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}
.footer__block:nth-child(2) {
  margin-left: -10px;
}
@media screen and (max-width: 1100px) {
  .footer__block:nth-child(2) {
    margin-left: 0;
  }
}
@media screen and (max-width: 720px) {
  .footer__block {
    align-items: center;
  }
}
.footer__heading {
  width: 280px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
@media screen and (max-width: 720px) {
  .footer__heading {
    font-size: 25px;
  }
}
@media screen and (max-width: 720px) {
  .footer__heading {
    text-align: center;
  }
}
.footer .contacts {
  max-width: 320px;
  min-height: 32px;
  display: flex;
  align-items: center;
  color: #F1CDB3;
  background-position: left center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 720px) {
  .footer .contacts {
    font-size: 20px;
    line-height: 115%;
    align-items: center;
    margin-left: -8px;
  }
}
.footer .contacts:hover {
  color: #FDDCC4;
  transform: scale(1.1);
  transition: 0.5s;
}
.footer .contacts a {
  justify-content: flex-end;
}
.footer__mail {
  background-image: url("../assets/icons/icon-email.svg");
  width: 251px;
}
.footer__tel {
  background-image: url("../assets/icons/icon-phone.svg");
  width: 239px;
}
.footer__location {
  background-image: url("../assets/icons/icon-marker.svg");
}
.footer__location:nth-child(2) {
  width: 292px;
}
.footer__location:nth-child(3) {
  width: 270px;
}
@media screen and (max-width: 720px) {
  .footer__location:nth-child(3) {
    align-self: start;
  }
}

.start {
  margin-top: -120px;
  background: url(../assets/background/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 180px;
}
@media screen and (max-width: 1100px) {
  .start {
    padding-top: 150px;
  }
}
.start__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 1100px) {
  .start__inner {
    flex-direction: column;
    gap: 100px;
  }
}
@media screen and (max-width: 720px) {
  .start__inner {
    gap: 105px;
  }
}
.start__cont {
  margin-top: 163px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
}
@media screen and (max-width: 1100px) {
  .start__cont {
    min-width: 460px;
    width: 65%;
    align-self: center;
    margin-top: 0;
  }
}
@media screen and (max-width: 720px) {
  .start__cont {
    align-items: center;
    min-width: 100%;
  }
}
.start__heading {
  max-width: 310px;
  color: #FFFFFF;
}
@media screen and (max-width: 1100px) {
  .start__heading {
    max-width: 67.4%;
  }
}
@media screen and (max-width: 720px) {
  .start__heading {
    text-align: center;
  }
}
.start__text {
  max-width: 460px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}
@media screen and (max-width: 1100px) {
  .start__text {
    max-width: unset;
  }
}
@media screen and (max-width: 720px) {
  .start__text {
    text-align: center;
  }
}
.start__button {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: #F1CDB3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.start__button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  .start__button {
    align-self: center;
  }
}
.start__img {
  width: 698px;
  height: 728px;
  background: bottom no-repeat url("../assets/images/start-screen-puppy.png");
  background-size: contain;
}
@media screen and (max-width: 1100px) {
  .start__img {
    width: 569px;
    height: 593px;
    align-self: flex-end;
  }
}
@media screen and (max-width: 720px) {
  .start__img {
    max-width: 100%;
    height: unset;
    min-height: 272px;
    max-height: 593px;
    align-self: flex-end;
    margin-right: -10px;
  }
}

.about {
  background-color: #FFFFFF;
}
.about__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
  justify-content: center;
}
@media screen and (max-width: 1100px) {
  .about__inner {
    flex-direction: column-reverse;
    gap: 80px;
    padding: unset;
  }
}
@media screen and (max-width: 720px) {
  .about__inner {
    padding: 0 25px;
    gap: 42px;
  }
}
.about__img {
  width: 300px;
  height: 408px;
  background: bottom no-repeat url("../assets/images/about-pets.png");
  background-size: contain;
}
@media screen and (max-width: 720px) {
  .about__img {
    width: 260px;
    height: 354px;
  }
}
.about__cont {
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
@media screen and (max-width: 1100px) {
  .about__cont {
    width: 56%;
  }
}
@media screen and (max-width: 720px) {
  .about__cont {
    min-width: 270px;
    width: 100%;
    gap: 25px;
  }
}
.about__heading {
  max-width: 360px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media screen and (max-width: 720px) {
  .about__heading {
    font-size: 25px;
  }
}
@media screen and (max-width: 1100px) {
  .about__heading {
    max-width: 80%;
  }
}
@media screen and (max-width: 720px) {
  .about__heading {
    max-width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .about__heading {
    text-align: center;
  }
}
.about__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}
@media screen and (max-width: 720px) {
  .about__text {
    text-align: justify;
  }
}
.about__text:nth-child(3) {
  margin-top: -4px;
}

.pets {
  background-color: #F6F6F6;
}
.pets__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 60px;
  position: relative;
}
@media screen and (max-width: 720px) {
  .pets__inner {
    gap: 40px;
  }
}
.pets__heading {
  max-width: 400px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}
@media screen and (max-width: 720px) {
  .pets__heading {
    font-size: 25px;
  }
}
.pets__button {
  width: 261px;
  height: 52px;
  border-radius: 100px;
  background-color: #F1CDB3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.pets__button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  transition: 0.3s;
  cursor: pointer;
}

.arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% - 26px + 21px);
}
@media screen and (max-width: 720px) {
  .arrow {
    bottom: 94px;
    top: unset;
  }
}
.arrow:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  transition: 0.5s;
}
.arrow_right {
  right: 40px;
  background-image: url("../assets/icons/Arrow-right.svg");
}
@media screen and (max-width: 1100px) {
  .arrow_right {
    right: 30px;
  }
}
@media screen and (max-width: 720px) {
  .arrow_right {
    right: calc(50% - 92px);
  }
}
.arrow_left {
  left: 40px;
  background-image: url("../assets/icons/Arrow-left.svg");
}
@media screen and (max-width: 1100px) {
  .arrow_left {
    left: 30px;
  }
}
@media screen and (max-width: 720px) {
  .arrow_left {
    left: calc(50% - 92px);
  }
}

.slider {
  width: calc(100% - 210px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 1100px) {
  .slider {
    width: calc(100% - 128px);
  }
}
@media screen and (max-width: 720px) {
  .slider {
    justify-content: center;
    margin-bottom: 72px;
  }
}

.card {
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.card:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  transition: 0.5s;
}
.card:hover .card__btn {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  transition: 0.5s;
}
.card__btn {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  background-color: #F1CDB3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  background-color: inherit;
  border: 2px solid #F1CDB3;
}
.card__btn:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .main__card:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .main__card:nth-child(2) {
    display: none;
  }
}

.help {
  background-color: #FFFFFF;
}
.help__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 720px) {
  .help__inner {
    gap: 42px;
  }
}
.help__heading {
  max-width: 310px;
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media screen and (max-width: 720px) {
  .help__heading {
    font-size: 25px;
  }
}
@media screen and (max-width: 1100px) {
  .help__heading {
    max-width: 44%;
  }
}
@media screen and (max-width: 720px) {
  .help__heading {
    max-width: 74%;
  }
}
.help__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 55px;
}
@media screen and (max-width: 1100px) {
  .help__list {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
@media screen and (max-width: 720px) {
  .help__list {
    gap: 30px;
  }
}
@media screen and (max-width: 340px) {
  .help__list {
    justify-content: flex-start;
  }
}
.help__item {
  height: 113px;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 60px 60px;
}
@media screen and (max-width: 1100px) {
  .help__item {
    width: 170px;
  }
}
@media screen and (max-width: 720px) {
  .help__item {
    height: 87px;
    width: 130px;
    background-size: 50px;
    gap: 20px;
  }
}
.help__item:nth-child(1) {
  background-image: url("../assets/icons/icon-pet-food.svg");
}
.help__item:nth-child(2) {
  background-image: url("../assets/icons/icon-transportation.svg");
}
.help__item:nth-child(3) {
  background-image: url("../assets/icons/icon-toys.svg");
}
.help__item:nth-child(4) {
  background-image: url("../assets/icons/bowls-and-cups.svg");
}
.help__item:nth-child(5) {
  background-image: url("../assets/icons/icon-shampoos.svg");
}
.help__item:nth-child(6) {
  background-image: url("../assets/icons/icon-vitamins.svg");
}
.help__item:nth-child(7) {
  background-image: url("../assets/icons/icon-medicines.svg");
}
.help__item:nth-child(8) {
  background-image: url("../assets/icons/collars-or-leashes.svg");
}
.help__item:nth-child(9) {
  background-image: url("../assets/icons/sleeping-area.svg");
}
.help__text {
  color: #545454;
}

.donat {
  background-color: #F6F6F6;
}
.donat__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  justify-content: center;
}
@media screen and (max-width: 1100px) {
  .donat__inner {
    flex-direction: column-reverse;
    gap: 60px;
  }
}
@media screen and (max-width: 720px) {
  .donat__inner {
    gap: 42px;
  }
}
@media screen and (max-width: 720px) {
  .donat__img {
    width: 260px;
    height: 135px;
  }
}
.donat__cont {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 1100px) {
  .donat__cont {
    max-width: 54%;
  }
}
@media screen and (max-width: 720px) {
  .donat__cont {
    max-width: 100%;
    align-items: center;
  }
}
.donat__heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 300px;
}
@media screen and (max-width: 720px) {
  .donat__heading {
    font-size: 25px;
  }
}
@media screen and (max-width: 1100px) {
  .donat__heading {
    width: 80%;
  }
}
@media screen and (max-width: 720px) {
  .donat__heading {
    width: 70%;
    text-align: center;
  }
}
.donat__subheading {
  width: 100%;
  font: 400 15px "Georgia", serif;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media screen and (max-width: 720px) {
  .donat__subheading {
    letter-spacing: 0;
    text-align: center;
    line-height: 160%;
  }
}
.donat__credit {
  width: 350px;
  height: 43px;
  padding-right: 15px;
  border-radius: 9px;
  text-align: right;
  background: 15px center no-repeat url("../assets/icons/credit-card.svg");
  background-color: #F1CDB3;
  color: #545454;
}
@media screen and (max-width: 720px) {
  .donat__credit {
    width: 280px;
  }
}
.donat__credit:hover {
  background-color: #FDDCC4;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}
.donat__credit a {
  justify-content: flex-end;
}
.donat__text {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #B2B2B2;
}
@media screen and (max-width: 720px) {
  .donat__text {
    width: 100%;
    padding: 0 10px;
    text-align: justify;
  }
}

.gallery {
  background-color: #F6F6F6;
}
@media screen and (max-width: 1100px) {
  .gallery {
    padding-bottom: 78px;
  }
}
@media screen and (max-width: 720px) {
  .gallery {
    padding-bottom: 42px;
  }
}
.gallery__heading {
  width: 400px;
  margin: 0 auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  .gallery__heading {
    width: 56.5%;
  }
}
@media screen and (max-width: 720px) {
  .gallery__heading {
    width: 90%;
  }
}
@media screen and (max-width: 720px) {
  .gallery__heading {
    font-size: 25px;
  }
}
.gallery__inner {
  max-width: 1200px;
  margin: 45px auto;
  padding: 15px 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, 435px);
  row-gap: 30px;
  justify-content: space-between;
}
@media screen and (max-width: 1120px) {
  .gallery__inner {
    width: 95%;
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: repeat(2, 435px);
    padding: 15px 0;
    margin: 15px auto 22px auto;
  }
}
@media screen and (max-width: 900px) {
  .gallery__inner {
    width: 85%;
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(3, 435px);
    padding: 15px 35px;
  }
}
@media screen and (max-width: 900px) {
  .gallery__inner {
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(3, 435px);
  }
}
@media screen and (max-width: 740px) {
  .gallery__inner {
    width: -moz-fit-content;
    width: fit-content;
    grid-template-columns: 270px;
    grid-template-rows: repeat(3, 435px);
    align-content: center;
    padding: 25px 15px 20px 15px;
  }
}
.gallery__btn-cont {
  max-width: 340px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 400px) {
  .gallery__btn-cont {
    padding: 0 10px;
  }
}
.gallery__btn-cont .start-btn {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}
.gallery__btn-cont .prev-btn {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}
.gallery__btn-cont .number-btn {
  background-color: #F1CDB3;
}
.gallery__btn-cont .next-btn {
  border: 2PX SOLID #F1CDB3;
}
.gallery__btn-cont .end-btn {
  border: 2PX SOLID #F1CDB3;
}
.gallery__btn {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
}
.gallery__btn:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  transition: 0.5s;
}
.gallery__btn:active {
  background-color: #F1CDB3;
}
.gallery__btn:disabled {
  background-color: inherit;
  border-color: #CDCDCD;
  cursor: default;
}

@media screen and (max-width: 1100px) {
  .pets__card:nth-child(7), .pets__card:nth-child(8) {
    display: none;
  }
}
@media screen and (max-width: 740px) {
  .pets__card:nth-child(4), .pets__card:nth-child(5), .pets__card:nth-child(6) {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */