@import "_normalize";
@import "_variables";
@import "_header";
@import "_footer";


.start {
  margin-top: -120px;
  background: url(../assets/background/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  padding-top: 90px + 60px + 30px;
 
  &__inner {
    @extend %cont;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__cont {
    margin-top: 163px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
  }

  &__heading {
    width: 310px;
    @extend %heading;
    color: $color-white;
  }

  &__text {
    width: 460px;
    @include text($color-dark-s);
  }

  &__button {
    @include button(207px);
  }
}

.about {
  background-color: $color-white;
  @extend %paddings;

  &__inner {
    @extend %cont;
    padding: 0 175px;
    @include flex;
    gap: 120px;
  }

  // &__img {}

  &__cont {
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }

  &__heading {
    width: 360px;
    @include font-h2($color-dark-l);
  }

  &__text {
    @include text($color-dark-xl);
  }
}

.pets {
  background-color: $color-light-l;
  @extend %paddings;

  &__inner {
    @extend %cont;
    @include flex;
    flex-direction: column;
    gap: 60px;

  }

  &__heading {
    width: 400px;
    @include font-h2($color-dark-l);
    text-align: center;

  }

  &__button {
    @include button(261px);
  }
}

.arrow {
  width: 52px;
  height: 52px;
  border: 2px solid $color-beige;
  border-radius: 100px;
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;

  &:hover {
    cursor: pointer;
    background-color: $color-beige-l;
    border-color: $color-beige-l;
    transition: $trans;
  }

  &_right{
    top: calc(50% - 26px);
    right: 0;
    background-image: url('../assets/icons/Arrow-right.svg');  
  }

  &_left{
    top: calc(50% - 26px);
    left: 0;
    background-image: url('../assets/icons/Arrow-left.svg');  
  }
}

.slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 90px;
  position: relative;
}
.card {
  width: 270px;
  height: 435px;
  background-color: $color-light-s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  
  &:hover {
    cursor: pointer;
    background-color: $color-white;
    transition: $trans;
  }
  &:hover &__btn {
    background-color: $color-beige-l;
    border-color: $color-beige-l;
    transition: $trans;
  }

  &__img {}

  &__heading {
    @extend %h3;
  }

  &__btn {
    @include button(187px);
    background-color: inherit;
    border: 2px solid $color-beige;
  }
}

.help {
  @extend %paddings;
  background-color: $color-white;

  &__inner {
    @extend %cont;
    padding: 0 67px;
    @include flex;
    flex-direction: column;
    gap: 60px;

  }

  &__heading {
    width: 310px;
    text-align: center;
    @include font-h2($color-dark-l);
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 120px;
    row-gap: 55px;

  }

  &__item {
    height: 113px;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;

    background-repeat: no-repeat;
    background-position: top;
    background-size: 60px 60px;
    &:nth-child(1) {
      background-image: url('../assets/icons/icon-pet-food.svg');
    }
    &:nth-child(2) {
      background-image: url('../assets/icons/icon-transportation.svg');
    }
    &:nth-child(3) {
      background-image: url('../assets/icons/icon-toys.svg');
    }
    &:nth-child(4) {
      background-image: url('../assets/icons/bowls-and-cups.svg');
    }
    &:nth-child(5) {
      background-image: url('../assets/icons/icon-shampoos.svg');
    }
    &:nth-child(6) {
      background-image: url('../assets/icons/icon-vitamins.svg');
    }
    &:nth-child(7) {
      background-image: url('../assets/icons/icon-medicines.svg');
    }
    &:nth-child(8) {
      background-image: url('../assets/icons/collars-or-leashes.svg');
    }
    &:nth-child(9) {
      background-image: url('../assets/icons/sleeping-area.svg');
    }
  }

  &__text {
    @extend %h4;
    color: $color-dark-l;
  }
}

.donat {
  @extend %paddings;
  background-color: $color-light-l;

  &__inner {
    @extend %cont;
    padding: 0 143px;
    @include flex;
    gap: 30px;
  }

  // &__img {}

  &__cont {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__heading {
    @include font-h2($color-dark-l);
    width: 300px;
  }

  &__subheading {
    width: 100%;
   font: 400 15px 'Georgia', serif;
   line-height: 110%;
   letter-spacing: 0.06em;
   color: $color-dark-l;
  }

  &__credit {
    width: 350px;
    height: 43px;
    padding-right:15px;
    border-radius: 9px;
    text-align: right;

    background: 15px center no-repeat url('../assets/icons/credit-card.svg');
    background-color: $color-beige;
    
    @extend %h4;
    color: $color-dark-l;

    &:hover {
      background-color: $color-beige-l;
      cursor: pointer;
      transform: scale(1.1);
      transition: $trans;
    }
    a{
      justify-content: flex-end;
     }
  }

  &__text {
 font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: $color-dark-m;
 }
}
// pets
.gallery {
  @extend %paddings;
  background-color: $color-light-l;

  &__heading {
    width: 400px;
    margin: 0 auto;

    @include font-h2($color-dark-l);
    text-align: center;
  }

  &__inner {
    width: 1200px;
    margin: 45px auto;
    padding: 15px 0;

    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 435px);
    gap: 30px 40px;
  }

  &__btn-cont {
    width: 340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @extend %h4;
  
    .start-btn {
      border: 2px solid $color-dark-s;
      color: $color-dark-s;
    }
    .prev-btn {
      border: 2px solid $color-dark-s;
      color: $color-dark-s;
    }
    .number-btn {
      background-color: $color-beige;
    }
    .next-btn { 
      border: 2PX SOLID $color-beige;
    } 
    .end-btn {
      border: 2PX SOLID $color-beige;
    }
  }


  &__btn {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    @extend %h4;

    &:hover {
      background-color: $color-beige-l;
      border-color: $color-beige-l;
      transition: $trans;
    }

    &:disabled {
      background-color: inherit;
      border-color: $color-dark-s;
      cursor: default;
    }
  }
}