.game {
    width: calc(100vw - 300px);
    height: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #444c5c;
    padding: 1vh 0;
    font-family: 'Rubik', sans-serif;
    color: #e1b16a;
    letter-spacing: 0.1em;

     @media screen and (max-width: 900px) {
        width: 100vw;
        height: fit-content;
    }

    &__heading {
        text-align: center;
        font-size: 1em;
       
    }

    &__text-task {
        position: relative;
        font-size: 1.2em;
        text-align: center;
    }

    &__img-task {
        width: 500px;
        margin: 0 auto;
        height: 240px;
        display: flex;
    }
}

sofa {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-image: url('../../../assets/icons/sofa.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 50px 70px;

    & * {
        // display: block;
        position: relative;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        &:hover {
        cursor: pointer;
        filter: drop-shadow(6px 6px 10px rgb(145, 231, 217));
        }
    }
}
@keyframes win-game {
    0% {
        top: -300px;
        transform: skew(0, 0);
    }
    25% {
        top: 0;
        transform: skew(45deg, 10deg);
    }
    50% {
        transform: skew(0, 0);
    }
    75% {
        transform: skew(-45deg, -10deg);
    }
    100% {
        transform: skew(0, 0);
    }
}
.win {
    color: #78a5a3;
    animation: win-game 2s ease-in;
    
}

@keyframes go-left-right {
    from {
      left: 0px;  
    }
    to {
    
    left: 10px;
    }
  }
  @keyframes go-up {
    from {
        top:0
    } 
    to {
        top: -400px;
    }
  }
  
  @keyframes stop {
    from {
        left: 0;
    }
    to {
        right: 0;
    }
  }
 
cat {
    background-image: url('./../../../assets/icons/cat.png');
}

rabbit {
    background-image: url('./../../../assets/icons/rabit.png');
}

croco {
    background-image: url('./../../../assets/icons/croco.png');
}
bird {
    background-image: url('./../../../assets/icons/chicken.png');
}
dog {
    background-image: url('./../../../assets/icons/dog.png');
}
dachshund {
    background-image: url('./../../../assets/icons/tax.png');
}
pig {
    background-image: url('./../../../assets/icons/pig.png');
}

.active {
    animation: go-left-right 0.5s infinite alternate;
}

.up {
    animation: go-up 1s;
}

.level1 {
    justify-content: space-between;
    cat {
        width: 130px;
        height: 140px;
    }

    cat.active{
        animation: go-left-right 0.5s infinite alternate;
    }
}

.level2 {
    justify-content: space-between;
    & * {
        width: 100px;
        height: 100px;
    }
}

.level3 {
    justify-content: space-around;
    bird {
        width: 60px;
        height: 100px;

    }
    bird:nth-child(odd){
        margin-bottom: -10px;
    }
}

.level4 {
    justify-content: space-evenly;
    dachshund {
        position: relative;
        width: 90px;
        height: 60px;
        & > pig {
            display: block;
            position: absolute;
            width: 50px;
            height: 50px;
            top: -16px;
            margin-left: 27px;
        }

        & > rabbit {
            display: block;
            position: absolute;
            width: 100px;
            height: 100px;
            bottom: 25px;
             & > pig {
                display: block;
                position: absolute;
                width: 50px;
                height: 50px;
                top: -10px;
                margin-left: 40px;
             }
        } 
        & > bird {
            display: block;
            position: absolute;
            width: 100px;
            height: 70px;
            top: -30px;
        }
    }

}
