.count__wrapper {
  width: 500px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  font-size: 20px;
  
}
.mine {
  width: 80px;
  display: flex;
  gap: 15px;

  &__img {
    width: 23px;
    background-image: url(../assets/icons/mine.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.flag {
  width: 80px;
  display: flex;
  gap: 15px;

  &__img {
    width: 23px;
    background-image: url(../assets/icons/flag.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
