.count__wrapper {
  width: 480px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
  font-size: 20px;
  
}
.mine {
  width: 60px;
  display: flex;
  justify-content: space-between;
  gap: 15px;

  &__img {
    width: 23px;
    background-image: url(../assets/icons/mine.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.flag {
  width: 60px;
  display: flex;
  justify-content: space-between;
  gap: 15px;

  &__img {
    width: 23px;
    background-image: url(../assets/icons/flag.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.time {
  display: flex;
  justify-content: space-between;
  width: 100px;
  gap: 20px;
  
  &__img {
    
      width: 23px;
      background-image: url(../assets/icons/clock3.png);
      background-repeat: no-repeat;
      background-size: contain;
   }
}
.click {
  display: flex;
  justify-content: space-between;
  width: 60px;
  gap: 20px;
  
  &__img {
      width: 23px;
      background-image: url(../assets/icons/click.png);
      background-repeat: no-repeat;
      background-size: contain;
   }
}
