
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// vars - сделать переменные цветов

body {
    background-color: antiquewhite;
    font-family: 'Rubik', sans-serif;;
}

// object {
//     width: 20px;
//     height: 20px;
//     svg {
//         fill: aqua;
//     }
// }