* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-dark:#2c4a52;
$color-light:#f4ebdb;

body {
  background-color:$color-dark;
  color: $color-light;
}

.winners.hidden,
.garage-view.hidden {
  display: none;
}

.button {
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  background-color: $color-light;
  color: $color-dark;

  font-size: 1.2em;
  letter-spacing: 0.05em;

  &:hover {
    cursor: pointer;
  }
}