.game {
  width: 500px;
  height: 500px;
  margin: 10vh auto;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10,1fr);
  gap: 2px;

  background-color: rgb(240, 238, 238);
  border: 0.5px solid rgb(77, 72, 72);

  
}
.cell {
    border: 0.5px solid rgb(77, 72, 72);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.mined {
      background-color: aqua;
    }
.opened {
  background-color: white;
}

.mined.opened {
  background-image: url(../assets/icons/mine.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.flagged {
  background-image: url(../assets/icons/flag.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}