.game {
  width: 500px;
  height: 500px;
  margin: 2vh auto;
  padding: 2px;
  display: grid;
 
  background-color: rgb(248, 247, 247);
  border: 0.5px solid rgb(77, 72, 72);
  & .cell {
    border: 5px solid rgb(122, 119, 119);
    border-right-color: aliceblue;
    border-top-color: aliceblue;
    &.opened {
      border: 1px solid rgb(122, 119, 119); 
    }
  }
  
  &_10 {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10,1fr);
    gap: 1px;
   
  }
  &_15 {
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15,1fr);
    gap: 1px;
    & .cell {
     border-width: 3.5px;
     &.opened {
      border: 1px solid rgb(122, 119, 119); 
    }
      
    }
  }
  &_25 {
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25,1fr);
    gap: 0;
    font-size: 14px;
    & .cell {
      border-width: 2.5px;
    }
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-color: rgb(220, 231, 220);
  border-radius: 5%;
 
  font-weight: bold;
}

.opened {
  background-color: white;
  border: 0.2px solid black
}

.mined.opened, 
.flagged {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.mined.opened {
   background-image: url(../assets/icons/mine.png);
}
.flagged {
  background-image: url(../assets/icons/flag.png);
}