.result-btn {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 2vh;
}

.result__list {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}

.result__item {
  margin-top:  5px;
}